<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koushikdutta.superuser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="android.permission.REQUEST_SUPERUSER"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:name="android.permission.REPORT_SUPERUSER"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:protectionLevel="dangerous"
        android:name="android.permission.ACCESS_SUPERUSER"
        android:description="@string/superuser_description_more"
        android:logo="@drawable/ic_action_permission"
        android:icon="@drawable/ic_action_permission"
        android:label="@string/superuser_description" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    
    <application
        android:name=".SuApplication"
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Only system/su can open this activity -->
        <!-- This activity will then call the MultitaskSuRequestActivity to create a new task stack -->
        <activity
            android:name=".RequestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:permission="android.permission.REQUEST_SUPERUSER"
            android:theme="@style/RequestTheme" />
        <!-- Multiple instances of this activity can be running for multiple su requests -->
        <activity
            android:name=".MultitaskSuRequestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/request"
            android:noHistory="true"
            android:theme="@style/RequestTheme" />

        <receiver
            android:name=".SuReceiver"
            android:permission="android.permission.REPORT_SUPERUSER" />

        <activity
            android:name=".PinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/enter_pin"
            android:noHistory="true"
            android:theme="@style/RequestTheme" />
    </application>

</manifest>