<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koushikdutta.superuser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.koushikdutta.superuser.REQUEST"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:name="com.koushikdutta.superuser.RESULT"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:name=".SuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".RequestActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:permission="com.koushikdutta.superuser.REQUEST" />
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MultitaskSuRequestActivity"
            android:label="@string/request"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".SuReceiver"
            android:permission="com.koushikdutta.superuser.RESULT" >
            <intent-filter>
                <action android:name="com.koushikdutta.superuser.REQUEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>